:root {
  --primary-color: #a822dd;
  --secondary-color: #7b21af;
  --success-color: rgb(25, 135, 84);
  --info-color: #81b9f1;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --light-color: #f8f9fa;
  --dark-color: #212529;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  height: 100vh;
  background: linear-gradient(-45deg, #a822dd, #81b9f1, #b65198, #10f11b);
  background-size: 400% 400%;
  animation: gradientMove 12s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Contenedor del formulario */
.login-container {
  width: 100%;
  max-width: 400px;
  padding: 1rem;
}

/* Tarjeta del login */
.login-card {
  background: rgba(255, 255, 255, 0.92);
  backdrop-filter: blur(10px);
  border-radius: 1rem;
}

h4 {
  color: var(--secondary-color);
  font-weight: bold;
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-primary:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

a {
  color: var(--secondary-color);
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
}
